<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layout/avaluoPlantilla.xhtml">

            <ui:define name="top">
                    <h:form id="usuarioSesion">
                        <div id="session">
                            <span>
                                <p:outputLabel value="#{mbSlogin.email}"/>
                            </span>
                            <p:commandButton onclick="PF('modificar').show();" ajax="false" styleClass="btn-cerrar" icon="ui-icon-gear"/>
                            <p:commandButton action="#{mbSlogin.cerrarSesion()}" ajax="false" styleClass="btn-cerrar" icon="ui-icon-close"/>
                        </div>
                    </h:form>                           
            </ui:define>

            <ui:define name="content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            <div class="jumbotron-sesion">
                                <h3>AGENDA LA CITA DEL FOTOGRAFO</h3>
                                <h:form id="frm_agendar">
                                    <h:panelGrid columns="2">
                                        <p:selectOneRadio id="hora" value="#{avaluoMBV.value1}">
                                            <f:selectItem itemLabel="#{avaluoMBV.dia1+1}/#{avaluoMBV.mes1+1}/#{avaluoMBV.ano1} 8:00 am - 11:00 am" itemValue="uno" />
                                            <f:selectItem itemLabel="#{avaluoMBV.dia1+1}/#{avaluoMBV.mes1+1}/#{avaluoMBV.ano1} 2:00 pm - 5:00 pm" itemValue="dos" />
                                            <f:selectItem itemLabel="#{avaluoMBV.dia1+2}/#{avaluoMBV.mes1+1}/#{avaluoMBV.ano1} 8:00 am - 11:00 pm" itemValue="tres" />
                                        </p:selectOneRadio>
                                        <p:commandButton value="Continuar" ajax="false" action="#{avaluoMBV.agendarCita()}" styleClass="btn btn-primary btn-block btn-lg"/>
                                    </h:panelGrid>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>    
            </ui:define>    

            <ui:define name="bottom">
            </ui:define>

        </ui:composition>

    </body>
</html>
