<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layout/avaluoPlantilla.xhtml">

            <ui:define name="top">
                    <h:form id="usuarioSesion">
                        <div id="session">
                            <span>
                                <p:outputLabel value="#{mbSlogin.email}"/>
                            </span>
                            <p:commandButton onclick="PF('modificar').show();" ajax="false" styleClass="btn-cerrar" icon="ui-icon-gear"/>
                            <p:commandButton action="#{mbSlogin.cerrarSesion()}" ajax="false" styleClass="btn-cerrar" icon="ui-icon-close"/>
                        </div>
                    </h:form>                           
            </ui:define>

            <ui:define name="content">
                <p:messages id="mensaje" showDetail="true" closable="true" autoUpdate="true"/>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <img src="../resources/imagenes/paso/slider2.png" alt="" width="550px"/>
                        </div>
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <div class="jumbotron-paso1">
                                <h2>Paso 2</h2>
                                <hr/>
                                <h:form id="frmavaluo">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <p:outputLabel value="Finalidad del Avalúo: " for="finalidad"></p:outputLabel>                    
                                        <p:selectOneMenu required="true" id="finalidad" value="#{avaluoMBV.finalidadAvaluo}">
                                            <f:selectItem 
                                                itemLabel="Selecciona una opción" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Informativo" itemValue="1" />
                                            <f:selectItem itemLabel="Certificado" itemValue="2"/>
                                        </p:selectOneMenu>   
                                        <p:outputLabel for="pais" value="Pais: " />
                                        <p:selectOneMenu required="true" id="pais" value="#{avaluoMBV.pais.idPais}">
                                            <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                                            <f:selectItems value="#{avaluoMBV.listaPais}"/>
                                            <p:ajax listener="#{avaluoMBV.cambiarPreguntaPais()}" update="ciudad"/>
                                        </p:selectOneMenu>
                                        <p:outputLabel for="ciudad" value="Ciudad: " />
                                        <p:selectOneMenu required="true" id="ciudad" value="#{avaluoMBV.pregunta.ciudad.idCiudad}">
                                            <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                                            <f:selectItems value="#{avaluoMBV.listaCiudad}"/>
                                            <p:ajax listener="#{avaluoMBV.cambiarPreguntaCiudad()}" update="Localidad"/>
                                        </p:selectOneMenu>
                                        <p:outputLabel for="Localidad" value="Localidad: " />
                                        <p:selectOneMenu required="true" id="Localidad" value="#{avaluoMBV.pregunta.localidad.idLocalidad}">
                                            <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                                            <f:selectItems value="#{avaluoMBV.listaLocalidad}"/>
                                            <p:ajax listener="#{avaluoMBV.cambiarPreguntaLocalidad()}" update="estrato"/>
                                        </p:selectOneMenu>
                                        <p:outputLabel for="estrato" value="Estrato: " />
                                        <p:selectOneMenu required="true" id="estrato" value="#{avaluoMBV.pregunta.estrato.idEstrato}">
                                            <f:selectItem itemLabel="Selecciona una opción" noSelectionOption="true" />
                                            <f:selectItems value="#{avaluoMBV.listaEstrato}"/>
                                        </p:selectOneMenu>
                                        <p:outputLabel for="TipoInmueble" value="Tipo de Inmueble: " />
                                        <p:selectOneMenu required="true" id="TipoInmueble" value="#{avaluoMBV.pregunta.tipoInmueble.idTipoInmueble}">
                                            <f:selectItem itemLabel="Selecciona una opción" noSelectionOption="true" />
                                            <f:selectItems value="#{avaluoMBV.listaTipoInmueble}" />
                                        </p:selectOneMenu>
                                         <p:outputLabel value="Metros Cuadrados: " />
                                         <p:inputText  value="#{avaluoMBV.metrosCuadrados}" required="true" requiredMessage="El campo es obligatorio"/>
                                         <p:outputLabel value="Dirección del Inmueble: " />
                                         <p:inputText  value="#{avaluoMBV.direccion}" required="true" requiredMessage="El campo es obligatorio"/>
                                         <p:outputLabel value="Nombre común del barrio: " />
                                         <p:inputText  value="#{avaluoMBV.barrio}" required="true" requiredMessage="El campo es obligatorio"/>
                                         <p:outputLabel  value="Nombre del Conunto residencial: " />
                                         <p:inputText   value="#{avaluoMBV.nomConjunto}" required="true" requiredMessage="El campo es obligatorio"/>
                                         <p:outputLabel value="Número de matrícula inmobiliaria: " />
                                         <p:inputText  value="#{avaluoMBV.matricula}" required="true" requiredMessage="El campo es obligatorio"/>
                                         <p:outputLabel value="Valor de Avalúo Catastral: " />
                                         <p:inputText  value="#{avaluoMBV.avaluoCatastral}" required="true" requiredMessage="El campo es obligatorio"/>
                                    </h:panelGrid>
                                    <p:commandButton value="Continuar" ajax="false" action="#{avaluoMBV.calcularPrecio()}" styleClass="btn btn-primary btn-block btn-lg"/>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>

            <ui:define name="bottom">
            </ui:define>

        </ui:composition>

    </body>
</html>
