<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layout/avaluoPlantilla.xhtml">

          <ui:define name="top">
                    <h:form id="usuarioSesion">
                        <div id="session">
                            <span>
                                <p:outputLabel value="#{mbSlogin.email}"/>
                            </span>
                            <p:commandButton onclick="PF('modificar').show();" ajax="false" styleClass="btn-cerrar" icon="ui-icon-gear"/>
                            <p:commandButton action="#{mbSlogin.cerrarSesion()}" ajax="false" styleClass="btn-cerrar" icon="ui-icon-close"/>
                        </div>
                    </h:form>                           
            </ui:define>
            
            <ui:define name="content">
                <p:messages id="mensaje" showDetail="true" closable="true" autoUpdate="true"/>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <img src="../resources/imagenes/paso/slider4.png" alt="" width="550px"/>
                        </div>
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <div class="jumbotron-paso1">
                                <h2>Paso 5</h2>
                                <hr/>
                                <p>Resumen de Transacción</p>
                                <h:form>
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <input name="polTransactionState"  value="#{avaluoMBV.pago.setPolTransactionState(request.getParameter('polTransactionState'))}"/>
                                        <input name="polResponseCode"  value="#{avaluoMBV.pago.setPolResponseCode(request.getParameter('polResponseCode'))}"/>
                                        <p:outputLabel value="Se realizo el pago por : " ></p:outputLabel>
                                        <p:outputLabel value="#{avaluoMBV.pago.setTxValue(request.getParameter('TX_VALUE'))}#{avaluoMBV.pago.txValue}"></p:outputLabel>
                                        <p:outputLabel value="La moneda en que se pago fue: " ></p:outputLabel>                    
                                        <p:outputLabel value="#{avaluoMBV.pago.setCurrency(request.getParameter('currency'))}#{avaluoMBV.pago.currency}"></p:outputLabel>
                                        <p:outputLabel value="Estado de la Transaccíon: " ></p:outputLabel>   
                                        <p:outputLabel value="#{avaluoMBV.pago.setMessage(request.getParameter('message'))}#{avaluoMBV.pago.message}"></p:outputLabel>
                                    </h:panelGrid>  
                                    <p:commandButton value="Continuar" ajax="false" action="/avaluo/enviarAvaluo" styleClass="btn btn-block btn-lg btn-primary"/>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>

            <ui:define name="bottom">
                bottom
            </ui:define>

        </ui:composition>

    </body>
</html>
