<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layout/avaluoPlantilla.xhtml">

          <ui:define name="top">
                    <h:form id="usuarioSesion">
                        <div id="session">
                            <span>
                                <p:outputLabel value="#{mbSlogin.email}"/>
                            </span>
                            <p:commandButton onclick="PF('modificar').show();" ajax="false" styleClass="btn-cerrar" icon="ui-icon-gear"/>
                            <p:commandButton action="#{mbSlogin.cerrarSesion()}" ajax="false" styleClass="btn-cerrar" icon="ui-icon-close"/>
                        </div>
                    </h:form>                           
            </ui:define>

            <ui:define name="content">
                <p:messages id="mensaje" showDetail="true" closable="true" autoUpdate="true"/>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <img src="../resources/imagenes/paso/slider4.png" alt="" width="550px"/>
                        </div>
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <div class="jumbotron-paso1">
                                <h2>Paso 5</h2>
                                <hr/>
                                <p>El valor de tu avalúo es: </p>
                                <form method="get" action="https://gateway.payulatam.com/ppp-web-gateway">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <p:outputLabel value="El valor de avaluo: "></p:outputLabel>                    
                                        <p:outputLabel value="#{avaluoMBV.pago.valorAvaluo}"/>
                                        <input name="merchantId" type="hidden" value="#{avaluoMBV.pago.merchantId}"/>
                                        <input name="accountId" type="hidden" value="520664"/>
                                        <input name="description"  type="hidden"  value="Avaluo realizado para #{avaluoMBV.mbSlogin.email}" />
                                        <input name="referenceCode" type="hidden" value="#{avaluoMBV.pago.referenceCode}"/>
                                        <input name="apiKey" type="hidden"  value="#{avaluoMBV.pago.apiKey}" />
                                        <input name="amount"    type="hidden"     value="#{avaluoMBV.pago.valorAvaluo}"/> 
                                        <input name="tax"   type="hidden"         value="0"  />
                                        <input name="taxReturnBase" type="hidden"  value="0"/>
                                        <input name="currency"   type="hidden"    value="#{avaluoMBV.pago.currency}" />
                                        <input name="signature"   type="hidden"    value="#{avaluoMBV.pago.firmaCreada}"/>
                                        <input name="test"    type="hidden"      value="0" />
                                        <input name="buyerEmail" type="hidden"  value="#{avaluoMBV.pago.buyerMailer}" />
                                        <input name="responseUrl"  type="hidden"  value="http://104.236.41.135:8080/AvaluoLocal/faces/avaluo/respuestaPago.xhtml" />
                                        <input type="image" border="0" alt="" src="http://www.payulatam.com/img_botones_herramientas/boton_pagar_grande.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
                                    </h:panelGrid>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>

            <ui:define name="bottom">
                bottom
            </ui:define>

        </ui:composition>

    </body>
</html>
