<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layout/adminin.xhtml">

            <ui:define name="top">
            </ui:define>

            <ui:define name="content">
                <h2>Lista De Estratos</h2>
                <hr/>
                <h:form id="nuevoLocalidad">
                <p:commandButton value="Nuevo" icon="ui-icon-plusthick"
                                 type="button" onclick="PF('nuevo').show();" update=":formTable"
                                 title="nuevo" />
                </h:form>
                <p:panelGrid columns="1">
                    <h:form id="formTable">
                        <p:growl id="mensaje" showDetail="true" sticky="false"/>
                        <p:dataTable value="#{estratoMBV.listarEstrato}" var="fila"
                                     resizableColumns="true">
                            <p:column headerText="Numero">
                                <h:outputLabel value="#{fila.nomEstrato}" />
                            </p:column>
                            <p:column headerText="Intercepto">
                                <h:outputLabel value="#{fila.variable}" />
                            </p:column>
                             <p:column headerText="Localidad">
                                 <h:outputLabel value="#{fila.localidad.nomLocalidad}" />
                            </p:column>
                            <p:column headerText="Editar">
                                <p:commandButton update=":formEditar" icon="ui-icon-note"
                                                 oncomplete="PF('editar').show()" title="actualizar">
                                    <f:setPropertyActionListener
                                        target="#{estratoMBV.estrato}" value="#{fila}" />
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:panelGrid>

                <h:form id="formEditar">
                    <p:dialog id="editarDlg" header="Editar Ciudad" widgetVar="editar"
                              modal="true" height="auto" resizable="false" hideEffect="blind"
                              showEffect="clip">
                        <p:panelGrid columns="2">
                            <p:outputLabel for="id" value="id: " />
                            <p:inputText id="id" value="#{estratoMBV.estrato.idEstrato}"
                                         disabled="true" />

                            <p:outputLabel for="nombre" value="Nombre: " />
                            <p:inputText id="nombre"
                                         value="#{estratoMBV.estrato.nomEstrato}"
                                         required="true" />
                            
                            <p:outputLabel for="variable" value="Variable: " />
                            <p:inputText id="variable"
                                         value="#{estratoMBV.estrato.variable}"
                                         required="true" />
                            
                            <p:outputLabel for="paisEditar" value="Pais: " />
                            <p:selectOneMenu required="true" id="paisEditar" value="#{estratoMBV.pais.idPais}">
                                <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                                <f:selectItems value="#{estratoMBV.listaPais}"/>
                                <p:ajax listener="#{estratoMBV.cambiarPreguntaPais()}" update="ciudadEditar"/>
                            </p:selectOneMenu>

                            <p:outputLabel for="ciudadEditar" value="Ciudad: " />
                            <p:selectOneMenu required="true" id="ciudadEditar" value="#{estratoMBV.ciudad.idCiudad}">
                                <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                                <f:selectItems value="#{estratoMBV.listaCiudad}"/>
                                <p:ajax listener="#{estratoMBV.cambiarPreguntaCiudad()}" update="LocalidadEditar"/>
                            </p:selectOneMenu>
                            
                            <p:outputLabel for="LocalidadEditar" value="Localidad; " />
                            <p:selectOneMenu required="true" id="LocalidadEditar" value="#{estratoMBV.estrato.localidad.idLocalidad}">
                                <f:selectItem itemLabel="Selecciona una opción" noSelectionOption="true" />
                                <f:selectItems value="#{estratoMBV.listaLocalidad}"/>
                            </p:selectOneMenu>

                            <f:facet name="footer">
                                <p:commandButton value="Actualizar" action="#{estratoMBV.actualizar()}"
                                                 styleClass="btn btn-default" update=":formTable"
                                                 onclick="PF('editar').hide();" />
                                <p:commandButton type="button" value="Cancelar"
                                                 styleClass="btn btn-warning"
                                                 onclick="PF('editar').hide();" />
                            </f:facet>
                        </p:panelGrid>
                    </p:dialog>
                </h:form>
                <h:form id="formNuevo">
                    <p:dialog id="nuevoDlg" header="Nueva Ciudad" widgetVar="nuevo"
                              modal="true" height="auto" resizable="false" hideEffect="blind"
                              showEffect="clip">
                       <p:panelGrid columns="2">
                            <p:outputLabel for="id" value="id: " />
                            <p:inputText id="id" value="#{estratoMBV.estrato.idEstrato}"
                                         disabled="true" />

                            <p:outputLabel for="nombre" value="Nombre: " />
                            <p:inputText id="nombre"
                                         value="#{estratoMBV.estrato.nomEstrato}"
                                         required="true" />
                            
                            <p:outputLabel for="variable" value="Variable: " />
                            <p:inputText id="variable"
                                         value="#{estratoMBV.estrato.variable}"
                                         required="true" />
                            
                            <p:outputLabel for="paisEditar" value="Pais: " />
                            <p:selectOneMenu required="true" id="paisEditar" value="#{estratoMBV.pais.idPais}">
                                <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                                <f:selectItems value="#{estratoMBV.listaPais}"/>
                                <p:ajax listener="#{estratoMBV.cambiarPreguntaPais()}" update="ciudadEditar"/>
                            </p:selectOneMenu>

                            <p:outputLabel for="ciudadEditar" value="Ciudad: " />
                            <p:selectOneMenu required="true" id="ciudadEditar" value="#{estratoMBV.ciudad.idCiudad}">
                                <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                                <f:selectItems value="#{estratoMBV.listaCiudad}"/>
                                <p:ajax listener="#{estratoMBV.cambiarPreguntaCiudad()}" update="LocalidadEditar"/>
                            </p:selectOneMenu>
                            
                            <p:outputLabel for="LocalidadEditar" value="Localidad; " />
                            <p:selectOneMenu required="true" id="LocalidadEditar" value="#{estratoMBV.estrato.localidad.idLocalidad}">
                                <f:selectItem itemLabel="Selecciona una opción" noSelectionOption="true" />
                                <f:selectItems value="#{estratoMBV.listaLocalidad}"/>
                            </p:selectOneMenu>

                            <f:facet name="footer">
                                <p:commandButton value="Guardar" action="#{estratoMBV.registrar()}"
                                                 styleClass="btn btn-default" update=":formTable"
                                                 onclick="PF('nuevo').hide();" />
                                <p:commandButton type="button" value="Cancelar"
                                                 styleClass="btn btn-warning"
                                                 onclick="PF('nuevo').hide();" />
                            </f:facet>
                        </p:panelGrid>
                    </p:dialog>
                </h:form>
            </ui:define>

            <ui:define name="bottom">
            </ui:define>
        </ui:composition>
    </body>
</html>