<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layout/adminin.xhtml">

            <ui:define name="top">
            </ui:define>

            <ui:define name="content">
                <h2>Filtra la pregunta</h2>
                <hr/>
                <h:form id="formEditar" prependId="false">
                    <p:panelGrid columns="2">
                        <p:outputLabel for="TipoInmuebleEditar" value="Tipo de Inmueble: " />
                        <p:selectOneMenu required="true" id="TipoInmuebleEditar" value="#{mbSfiltroPreguntas.tipoInmueble.idTipoInmueble}">
                            <f:selectItem itemLabel="Selecciona una opción" noSelectionOption="true" />
                            <f:selectItems value="#{mbSfiltroPreguntas.listaTipoInmueble}"/>
                        </p:selectOneMenu>

                        <p:outputLabel for="paisEditar" value="Pais: " />
                        <p:selectOneMenu required="true" id="paisEditar" value="#{mbSfiltroPreguntas.pais.idPais}">
                            <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                            <f:selectItems value="#{mbSfiltroPreguntas.listaPais}"/>
                            <p:ajax listener="#{mbSfiltroPreguntas.cambiarPreguntaPais()}" update="ciudadEditar"/>
                        </p:selectOneMenu>

                        <p:outputLabel for="ciudadEditar" value="Ciudad: " />
                        <p:selectOneMenu required="true" id="ciudadEditar" value="#{mbSfiltroPreguntas.ciudad.idCiudad}">
                            <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                            <f:selectItems value="#{mbSfiltroPreguntas.listaCiudad}"/>
                            <p:ajax listener="#{mbSfiltroPreguntas.cambiarPreguntaCiudad()}" update="LocalidadEditar"/>
                        </p:selectOneMenu>

                        <p:outputLabel for="LocalidadEditar" value="Localidad; " />
                        <p:selectOneMenu required="true" id="LocalidadEditar" value="#{mbSfiltroPreguntas.localidad.idLocalidad}">
                            <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                            <f:selectItems value="#{mbSfiltroPreguntas.listaLocalidad}"/>
                            <p:ajax listener="#{mbSfiltroPreguntas.cambiarPreguntaLocalidad()}" update="estratoEditar"/>
                        </p:selectOneMenu>

                        <p:outputLabel for="estratoEditar" value="Estrato; " />
                        <p:selectOneMenu required="true" id="estratoEditar" value="#{mbSfiltroPreguntas.estrato.idEstrato}">
                            <f:selectItem itemLabel="Selecciona una opción" noSelectionOption="true" />
                            <f:selectItems value="#{mbSfiltroPreguntas.listaEstrato}"/>
                        </p:selectOneMenu>

                        <p:commandButton value="Continuar" action="#{mbSfiltroPreguntas.filtrar()}"
                                         styleClass="btn btn-default" ajax="false" />
                    </p:panelGrid>
                </h:form>
            </ui:define>

            <ui:define name="bottom">
            </ui:define>

        </ui:composition>

    </body>
</html>
