<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../layout/adminin.xhtml">

            <ui:define name="top">
            </ui:define>

            <ui:define name="content">
                <h2>Lista De Preguntas</h2>
                <h:form id="nuevo">
                    <p:commandButton value="Crear Pregunta" icon="ui-icon-plusthick"
                                     type="button" onclick="PF('nuevo').show();" update=":formTable"
                                     title="nuevo" />
                </h:form>
                <p:panelGrid columns="1">
                    <h:form id="formTable">
                        <p:growl id="mensaje" showDetail="true" sticky="false"/>
                        <p:dataTable value="#{preguntaMBV.listarPregunta}" var="fila" widgetVar="preguntaTabla"
                                     resizableColumns="true" rows="10" paginator="true" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                     >
                            <f:facet name="header">
                                <p:outputPanel>
                                    <h:outputText value="Buscar:" />
                                    <p:inputText id="globalFilter" onkeyup="PF('preguntaTabla').filter()" style="width:150px" placeholder="pregunta"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column headerText="Pregunta" filterBy="#{fila.pregunta}">
                                <h:outputLabel value="#{fila.pregunta}"/>
                            </p:column>
                            <p:column headerText="Variable" filterBy="#{fila.variable}">
                                <h:outputLabel value="#{fila.variable}"/>
                            </p:column>
                            <p:column headerText="Ciudad" filterBy="#{fila.ciudad.nomCiudad}">
                                <h:outputLabel value="#{fila.ciudad.nomCiudad}"/>
                            </p:column>
                            <p:column headerText="Localidad" filterBy="#{fila.localidad.nomLocalidad}">
                                <h:outputLabel value="#{fila.localidad.nomLocalidad}"/>
                            </p:column>
                            <p:column headerText="Estrato" filterBy="#{fila.estrato.nomEstrato}">
                                <h:outputLabel value="#{fila.estrato.nomEstrato}"/>
                            </p:column>
                            <p:column headerText="Tipo de Pregunta" filterBy="#{fila.tipoPregunta.nomTipoPregunta}">
                                <h:outputLabel value="#{fila.tipoPregunta.nomTipoPregunta}"/>
                            </p:column>
                            <p:column headerText="Clase de Pregunta" filterBy="#{fila.clasePregunta.nomClasePregunta}">
                                <h:outputLabel value="#{fila.clasePregunta.nomClasePregunta}"/>
                            </p:column>
                            <p:column headerText="SubClase de Pregunta" filterBy="#{fila.subclasePregunga.nomSubclasePregunta}">
                                <h:outputLabel value="#{fila.subclasePregunga.nomSubclasePregunta}"/>
                            </p:column>
                            <p:column headerText="Editar">
                                <p:commandButton update=":formEditar" icon="ui-icon-note"
                                                 oncomplete="PF('editar').show()" title="actualizar">
                                    <f:setPropertyActionListener
                                        target="#{preguntaMBV.pregunta}" value="#{fila}" />
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:panelGrid>

                <h:form id="formEditar" prependId="false">
                    <p:dialog id="editarDlg" header="Editar Pregunta" widgetVar="editar"
                              modal="true" height="auto" resizable="false" hideEffect="blind"
                              showEffect="clip">
                        <p:panelGrid columns="2">
                            <p:outputLabel for="idEditar" value="id: " />
                            <p:inputText id="idEditar" value="#{preguntaMBV.pregunta.idPregunta}"
                                         disabled="true" />

                            <p:outputLabel for="nombreEditar" value="Pregunta: " />
                            <p:inputText id="nombreEditar"
                                         value="#{preguntaMBV.pregunta.pregunta}"
                                         required="true" />

                            <p:outputLabel for="variableEditar" value="Constante: " />
                            <p:inputText id="variableEditar"
                                         value="#{preguntaMBV.pregunta.variable}"
                                         required="true" />

                            <p:outputLabel for="tipoPreguntaEditar" value="tipoPregunta: " />
                            <p:selectOneMenu required="true" id="tipoPreguntaEditar" value="#{preguntaMBV.pregunta.tipoPregunta.idTipoPregunta}">
                                <f:selectItem itemLabel="Selecciona una opción" noSelectionOption="true" />
                                <f:selectItems value="#{preguntaMBV.listaTipoPregunta}"/>
                            </p:selectOneMenu>

                            <p:outputLabel for="clasePreguntaEditar" value="Clase Pregunta: " />
                            <p:selectOneMenu required="true" id="clasePreguntaEditar" value="#{preguntaMBV.pregunta.clasePregunta.idClasePregunta}">
                                <f:selectItem itemLabel="Selecciona una opción" itemValue="0" />
                                <f:selectItems value="#{preguntaMBV.listaClasePregunta}"/>
                                <p:ajax listener="#{preguntaMBV.cambiarPregunta()}" update="SubclasePreguntaEditar"/>
                            </p:selectOneMenu>

                            <p:outputLabel for="SubclasePreguntaEditar" value="Sub-clase Pregunta: " />
                            <p:selectOneMenu required="true" id="SubclasePreguntaEditar" value="#{preguntaMBV.pregunta.subclasePregunga.idSubclasePregunta}">
                                <f:selectItem itemLabel="Selecciona una opción" itemValue="0"/>
                                <f:selectItems value="#{preguntaMBV.listaSubClasePregunta}"/>
                            </p:selectOneMenu>          

                            <f:facet name="footer">
                                <p:commandButton value="Actualizar" action="#{preguntaMBV.actualizar()}"
                                                 styleClass="btn btn-default" update=":formTable"
                                                 onclick="PF('editar').hide();" />
                                <p:commandButton type="button" value="Cancelar"
                                                 styleClass="btn btn-warning"
                                                 onclick="PF('editar').hide();" />
                            </f:facet>
                        </p:panelGrid>
                    </p:dialog>
                </h:form>
                <h:form id="formNuevo" prependId="false">
                    <p:dialog id="nuevoDlg" header="Nuevo Pais" widgetVar="nuevo"
                              modal="true" height="auto" resizable="false" hideEffect="blind"
                              showEffect="clip">
                        <p:panelGrid columns="2">
                            <p:outputLabel for="id" value="id: " />
                            <p:inputText id="id" value="#{preguntaMBV.pregunta.idPregunta}"
                                         disabled="true" />

                            <p:outputLabel for="nombre" value="Pregunta: " />
                            <p:inputText id="nombre"
                                         value="#{preguntaMBV.pregunta.pregunta}"
                                         required="true" />

                            <p:outputLabel for="variable" value="Constante: " />
                            <p:inputText id="variable"
                                         value="#{preguntaMBV.pregunta.variable}"
                                         required="true" />

                            <p:outputLabel for="tipoPregunta" value="tipoPregunta: " />
                            <p:selectOneMenu required="true" id="tipoPregunta" value="#{preguntaMBV.pregunta.tipoPregunta.idTipoPregunta}">
                                <f:selectItem itemLabel="Selecciona una opción" noSelectionOption="true" />
                                <f:selectItems value="#{preguntaMBV.listaTipoPregunta}"/>
                            </p:selectOneMenu>

                            <p:outputLabel for="clasePregunta" value="Clase Pregunta: " />
                            <p:selectOneMenu required="true" id="clasePregunta" value="#{preguntaMBV.pregunta.clasePregunta.idClasePregunta}">              
                                <f:selectItem itemLabel="Selecciona una opción" itemValue="0"/>
                                <f:selectItems value="#{preguntaMBV.listaClasePregunta}"/>
                                <p:ajax listener="#{preguntaMBV.cambiarPregunta()}" update="subclasePregunta"/>
                            </p:selectOneMenu>

                            <p:outputLabel for="subclasePregunta" value="Sub-clase Pregunta: " />
                            <p:selectOneMenu required="true" id="subclasePregunta" value="#{preguntaMBV.pregunta.subclasePregunga.idSubclasePregunta}">
                                <f:selectItem itemLabel="Selecciona una opción" itemValue="0"/>
                                <f:selectItems value="#{preguntaMBV.listaSubClasePregunta}"/>
                            </p:selectOneMenu>          

                            <f:facet name="footer">
                                <p:commandButton value="Guardar" action="#{preguntaMBV.registrar()}"
                                                 styleClass="btn btn-default" update=":formTable"
                                                 onclick="PF('nuevo').hide();" />
                                <p:commandButton type="button" value="Cancelar"
                                                 styleClass="btn btn-warning"
                                                 onclick="PF('nuevo').hide();" />
                            </f:facet>
                        </p:panelGrid>
                    </p:dialog>
                </h:form>
            </ui:define>

            <ui:define name="bottom">
            </ui:define>

        </ui:composition>

    </body>
</html>
