<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/bootstrap.css"/>
        <h:outputStylesheet name="./css/avaluo_estilos.css"/>
        <title>Avaluo Facil</title>
    </h:head>

    <h:body>

        <div id="top" class="modal-header">
             <div id="logo">
                    <img src="../resources/imagenes/logo.png" alt=""/>
                    <h:form id="usuarioSesion">
                        <div id="session">
                            <span>
                                <p:outputLabel value="#{mbSlogin.email}"/>
                            </span>
                            <p:commandButton onclick="PF('modificar').show();" ajax="false" styleClass="btn-cerrar" icon="ui-icon-gear"/>
                            <p:commandButton action="#{mbSlogin.cerrarSesion()}" ajax="false" styleClass="btn-cerrar" icon="ui-icon-close"/>
                        </div>
                    </h:form>                           
                </div>
            <h:form> 
                <p:growl id="messages"/>
                <p:menubar>
                    <p:menuitem value="Usuarios" outcome="/adminin/usuarios"/>
                    <p:menuitem value="Paises" outcome="/adminin/paises"/>
                    <p:menuitem value="Ciudades" outcome="/adminin/ciudades"/>
                    <p:menuitem value="Localidades" outcome="/adminin/localidades"/>
                    <p:menuitem value="Estrato" outcome="/adminin/estratos"/>
                    <p:menuitem value="Interceptos" outcome="/adminin/interceptos"/>
                    <p:menuitem value="Preguntas" outcome="/adminin/filtroPreguntas"/>
                </p:menubar>
            </h:form>
            <ui:insert name="top">Top</ui:insert>
        </div>
        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <div id="bottom">
            <hr>
                By Leonardo Fajardo AVALUO FACIL
                <ui:insert name="bottom">pie de pagina</ui:insert>
            </hr>
        </div>

    </h:body>

</html>