<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    

    <h:body>
        <div id="top" class="modal-header">
            <div class="logo">
                <img src="../resources/imagenes/logo.png" alt=""/>
            </div>
            <ui:insert name="top">Top</ui:insert>
        </div>

        <div id="content" class="jumbotron">
            <ui:insert name="content">Contenido</ui:insert>
        </div>

        <div id="bottom">
            <div class="footer-parlex">
                <div class="parlex9-back">
                    <div class="w-container">
                        <div class="wrap" style="margin-top: -10px; padding-top: 10px; margin-bottom: -10px;">
                            <img class="footer-logo" src="../resources/imagenes/footer-logo.png" alt="AvaluoFacil"></img>
                                <div class="footer-social">
                                    <div class="fotter-social-wrap">
                                        <a href="https://www.facebook.com/"><img class="fotter-social" src="../resources/imagenes/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></img></a>
                                        <a href="https://www.twitter.com/"><img class="fotter-social" src="../resources/imagenes/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></img></a>
                                        <a href="https://plus.google.com/"><img class="fotter-social" src="../resources/imagenes/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></img></a>
                                        <a href="https://www.youtube.com/"><img class="fotter-social" src="../resources/imagenes/social/Youtube.png" alt="52de54495d3566c14300040a_Youtube.png"></img></a>
                                    </div>
                                </div>
                                <div>
                                    <div class="fotter-text"><p class="fotter-quote">“ THINK. DREAM. INNOVATE. CREATIVITY. WORK  ”</p>
                                        <p class="copyright-area">Copyright ©2014.  Anchor Price Group Todos los derechos reservados. Diseñado por <a href="http://www.anchorpricegroup.com" title="Anchor Price Group" target="_blank">APG</a></p></div>
                                    <p class="version">avaluofacil.com Version 1.0</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <ui:insert name="bottom">pie de pagina</ui:insert>
        </div>
    </h:body>

</html>
